- name: General | Check if Apache is already installed
  stat: path=/etc/init.d/apache2
  register: apache2_installed

- name: General | Install Apache packages
  apt: "name={{ item }} state=present"
  with_items:
    - php5
    - apache2
    - php5-mysql
    - php-apc
    - php5-xmlrpc
    - php-soap
    - php5-gd
    - php5-curl
    - php5-imap
    - sendmail
    - unzip
  when: apache2_installed.stat.exists == false

- name: Apache | Enable php modules
  apache2_module: "name={{ item }} state=present"
  with_items:
    - php5
    - proxy
    - proxy_http
    - headers
    - rewrite
    - dir
    - expires

- name: Apache | Remove default site
  file:
   path: "{{ item }}"
   state: absent
  with_items:
    - /etc/apache2/sites-enabled/000-default.conf
    - /etc/apache2/sites-enabled/000-default
    - /etc/apache2/envvars

- name: Apache | Apache environment variables file /etc/apache2/envvars
  template:
    src: apache-envvars
    dest: /etc/apache2/envvars
    owner: root
    mode: 0644
  tags:
    - configuration

- name: Apache | Prefork Configuration files
  template:
    src: mods-available-mpm-prefork.conf
    dest: /etc/apache2/mods-available/mpm_prefork.conf
    owner: root
    mode: 0755
  tags:
    - configuration

- name: Apache | Worker Configuration files
  template:
    src: mods-available-mpm-worker.conf
    dest: /etc/apache2/mods-available/mpm_worker.conf
    owner: root
    mode: 0755
  tags:
    - configuration

- name: Apache | Enable Prefork and Worker mods
  file:
    src: "/etc/apache2/mods-available/{{ item }}"
    dest: "/etc/apache2/mods-enabled/{{ item }}"
    state: link
  with_items:
    - mpm_prefork.conf
    - mpm_prefork.load

- name: Apache | Configuration file /etc/php5/apache2/php.ini
  template:
    src: php.ini
    dest: /etc/php5/apache2/php.ini
    owner: root
    mode: 0755
  tags:
    - configuration

- name: Apache | PHP HTTP Proxy file /etc/php5/apache2/http_proxy.php
  template:
    src: http_proxy.php
    dest: /etc/php5/apache2/http_proxy.php
    owner: root
    mode: 0755
  tags:
    - configuration

- name: Apache | Enable PHP modules
  shell: "php5enmod {{ item }}"
  with_items:
    - imap

- name: Apache | Session cleaning script /usr/lib/php5/sessionclean
  template:
    src: php_sessionclean
    dest: /usr/lib/php5/sessionclean
    owner: root
    mode: 0755

- include: ioncube.yml
