- name: General | Check if MySQL is already installed
  stat: path=/etc/init.d/mysql
  register: mysql_installed

- name: General | Install MySQL packages
  apt: "name={{ item }} state=present"
  with_items:
    - mysql-server-5.5
    - mysql-client-5.5
    - libmysqlclient-dev
    - python-mysqldb
  when: mysql_installed.stat.exists == false

- name: MySQL | Remove configuration files
  file:
   path: "{{ item }}"
   state: absent
  with_items:
    - /etc/mysql/my.cnf

- name: MySQL | Configuration file /etc/mysql/my.cnf
  template:
    src: etc-mysql-my-cnf
    dest: /etc/mysql/my.cnf
    owner: root
    mode: 0600
  tags:
    - configuration
  register: configuremycnf

- name: MySQL | Set directory permissions
  file:
    path: /var/lib/mysql
    mode: 0755
    owner: mysql
    group: mysql
    state: directory
    recurse: yes
  tags:
    - configuration
  register: setdirectorypermissions

- name: MySQL | Restart
  command: service mysql restart
  tags:
    - configuration
  when: configuremycnf.changed or setdirectorypermissions.changed

# - name: MySQL | Change password
#   include: generate-password.yml
#   tags:
#   - configuration
